# Lab | SQL Queries 9

In this lab, you will be using the [Sakila](https://dev.mysql.com/doc/sakila/en/) database of movie rentals. You have been using this database for a couple labs already, but if you need to get the data again, refer to the official [installation link](https://dev.mysql.com/doc/sakila/en/sakila-installation.html).

The database is structured as follows:
![DB schema](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/database-sakila-schema.png)

### Instructions

In this lab we will find the customers who were active in consecutive months of May and June. Follow the steps to complete the analysis.

- Create a table `rentals_may` to store the data from rental table with information for the month of May.
- Insert values in the table `rentals_may` using the table rental, filtering values only for the month of May.
- Create a table `rentals_june` to store the data from rental table with information for the month of June.
- Insert values in the table `rentals_june` using the table rental, filtering values only for the month of June.
- Check the number of rentals for each customer for May.
- Check the number of rentals for each customer for June.
- Create a Python connection with SQL database and retrieve the results of the last two queries (also mentioned below) as dataframes:

  - Check the number of rentals for each customer for May
  - Check the number of rentals for each customer for June

    **Hint**: You can store the results from the two queries in two separate dataframes.

- Write a function that checks if customer borrowed more or less films in the month of June as compared to May.

  **Hint**: For this part, you can create a join between the two dataframes created before, using the merge function available for pandas dataframes. Here is a link to the documentation for the [merge function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html).

In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input

##### Prepare SQL connection

In [2]:
password = getpass.getpass()
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)
%load_ext sql
%sql {connection_string}

 ·········

'Connected: root@bank'

**Your code goes here! :**

In [3]:
%%sql
create table if not exists rentals_may like sakila.rental;

 * mysql+pymysql://root:***@localhost/bank
0 rows affected.

[]

In [4]:
%%sql
insert into rentals_may
select * from sakila.rental
where rental_date between date('2005-05-15') and date('2005-05-30');

 * mysql+pymysql://root:***@localhost/bank
835 rows affected.

[]

In [5]:
%%sql
create table if not exists rentals_june like sakila.rental;

 * mysql+pymysql://root:***@localhost/bank
0 rows affected.

[]

In [6]:
%%sql
insert into rentals_june
select * from sakila.rental
where rental_date between date('2005-06-15') and date('2005-06-30');

 * mysql+pymysql://root:***@localhost/bank
2295 rows affected.

[]

In [7]:
%%sql
select customer_id, count(customer_id) as num_rentals_may
from rentals_may
group by customer_id;

 * mysql+pymysql://root:***@localhost/bank
444 rows affected.

[(1, 2),
 (2, 1),
 (3, 2),
 (5, 1),
 (6, 2),
 (7, 3),
 (9, 1),
 (14, 5),
 (16, 2),
 (17, 2),
 (18, 3),
 (19, 6),
 (20, 3),
 (21, 3),
 (22, 3),
 (23, 2),
 (25, 1),
 (26, 1),
 (27, 1),
 (28, 1),
 (29, 1),
 (32, 2),
 (33, 1),
 (35, 2),
 (36, 2),
 (37, 1),
 (40, 1),
 (42, 1),
 (43, 2),
 (44, 4),
 (45, 1),
 (46, 2),
 (47, 3),
 (48, 3),
 (49, 2),
 (50, 2),
 (51, 2),
 (53, 4),
 (54, 3),
 (55, 1),
 (56, 4),
 (57, 1),
 (58, 3),
 (59, 1),
 (60, 2),
 (64, 2),
 (65, 2),
 (67, 2),
 (69, 2),
 (71, 2),
 (72, 1),
 (73, 1),
 (75, 2),
 (76, 1),
 (77, 5),
 (81, 1),
 (82, 2),
 (83, 1),
 (84, 3),
 (85, 1),
 (86, 1),
 (87, 2),
 (88, 1),
 (89, 3),
 (91, 1),
 (92, 2),
 (93, 2),
 (94, 2),
 (95, 1),
 (98, 1),
 (100, 1),
 (101, 1),
 (102, 3),
 (103, 2),
 (104, 2),
 (105, 4),
 (106, 1),
 (107, 1),
 (108, 1),
 (109, 4),
 (110, 2),
 (111, 1),
 (112, 2),
 (113, 2),
 (114, 2),
 (117, 1),
 (118, 1),
 (119, 3),
 (120, 2),
 (121, 1),
 (124, 1),
 (125, 1),
 (126, 2),
 (127, 2),
 (130, 2),
 (131, 2),
 (133, 2),
 (134, 3),
 (135, 2),
 (138, 1),
 (142, 3),
 (143, 2),
 (144, 2),
 (145, 1),
 (146, 1),
 (147, 2),
 (148, 1),
 (149, 1),
 (150, 2),
 (151, 2),
 (152, 2),
 (154, 1),
 (155, 1),
 (157, 2),
 (158, 2),
 (159, 4),
 (161, 5),
 (162, 3),
 (165, 1),
 (166, 1),
 (167, 2),
 (168, 2),
 (169, 1),
 (170, 3),
 (171, 1),
 (172, 2),
 (173, 2),
 (174, 1),
 (176, 4),
 (179, 2),
 (181, 1),
 (182, 2),
 (183, 1),
 (184, 3),
 (185, 3),
 (186, 1),
 (187, 1),
 (190, 2),
 (193, 2),
 (194, 2),
 (196, 3),
 (197, 6),
 (198, 3),
 (199, 1),
 (200, 1),
 (201, 3),
 (203, 1),
 (204, 2),
 (207, 4),
 (208, 1),
 (209, 2),
 (211, 1),
 (213, 1),
 (214, 2),
 (215, 1),
 (217, 1),
 (219, 1),
 (220, 2),
 (221, 1),
 (222, 4),
 (223, 1),
 (225, 1),
 (227, 1),
 (228, 1),
 (230, 1),
 (231, 3),
 (232, 2),
 (235, 1),
 (236, 2),
 (237, 2),
 (238, 1),
 (239, 4),
 (240, 3),
 (241, 1),
 (242, 2),
 (243, 1),
 (244, 2),
 (245, 5),
 (246, 4),
 (247, 3),
 (248, 2),
 (249, 4),
 (250, 4),
 (251, 3),
 (252, 1),
 (253, 2),
 (254, 1),
 (256, 3),
 (257, 3),
 (259, 1),
 (261, 4),
 (263, 2),
 (265, 1),
 (266, 2),
 (267, 2),
 (269, 5),
 (270, 1),
 (272, 2),
 (273, 1),
 (274, 5),
 (275, 1),
 (276, 1),
 (277, 1),
 (281, 2),
 (282, 3),
 (284, 2),
 (286, 1),
 (287, 2),
 (288, 4),
 (290, 1),
 (291, 2),
 (292, 1),
 (293, 1),
 (294, 1),
 (295, 1),
 (296, 2),
 (297, 1),
 (298, 1),
 (299, 2),
 (300, 2),
 (301, 2),
 (302, 2),
 (303, 1),
 (304, 2),
 (305, 1),
 (306, 2),
 (307, 3),
 (308, 1),
 (309, 2),
 (310, 1),
 (311, 2),
 (312, 2),
 (313, 3),
 (314, 2),
 (315, 2),
 (316, 2),
 (317, 1),
 (318, 1),
 (319, 3),
 (321, 3),
 (322, 2),
 (323, 2),
 (324, 1),
 (325, 1),
 (327, 1),
 (330, 1),
 (331, 1),
 (332, 1),
 (333, 1),
 (334, 2),
 (337, 2),
 (338, 1),
 (343, 2),
 (344, 2),
 (345, 2),
 (346, 2),
 (348, 2),
 (350, 2),
 (352, 1),
 (354, 3),
 (357, 2),
 (359, 3),
 (360, 2),
 (361, 1),
 (363, 1),
 (364, 1),
 (365, 2),
 (368, 3),
 (369, 2),
 (371, 6),
 (372, 2),
 (373, 1),
 (374, 1),
 (375, 3),
 (376, 1),
 (378, 1),
 (379, 1),
 (381, 3),
 (382, 2),
 (383, 2),
 (384, 2),
 (386, 1),
 (387, 2),
 (388, 2),
 (390, 1),
 (391, 3),
 (393, 1),
 (394, 1),
 (396, 1),
 (398, 1),
 (399, 2),
 (400, 3),
 (401, 3),
 (402, 1),
 (403, 2),
 (405, 2),
 (407, 1),
 (408, 3),
 (409, 1),
 (411, 1),
 (412, 3),
 (413, 1),
 (414, 2),
 (415, 1),
 (416, 2),
 (417, 3),
 (419, 1),
 (420, 1),
 (421, 1),
 (422, 1),
 (424, 1),
 (426, 1),
 (427, 1),
 (428, 1),
 (429, 4),
 (430, 2),
 (432, 2),
 (433, 2),
 (434, 1),
 (435, 2),
 (436, 2),
 (437, 3),
 (438, 1),
 (439, 3),
 (441, 1),
 (442, 3),
 (444, 2),
 (445, 1),
 (446, 3),
 (447, 2),
 (448, 1),
 (449, 2),
 (450, 1),
 (451, 2),
 (452, 3),
 (454, 1),
 (455, 2),
 (456, 1),
 (459, 1),
 (460, 2),
 (461, 1),
 (462, 2),
 (463, 1),
 (464, 2),
 (465, 1),
 (467, 1),
 (468, 5),
 (469, 3),
 (470, 1),
 (471, 1),
 (472, 3),
 (473, 1),
 (474, 1),
 (475, 2),
 (476, 2),
 (479, 2),
 (480, 3),
 (482, 2),
 (483, 1),
 (484, 3),
 (489, 2),
 (490, 2),
 (491, 1),
 (492, 1),
 (493, 1),
 (494, 1),
 (495, 2),
 (496, 1),
 (498, 3),
 (499, 1),
 (500, 3),
 (501, 2),
 (502, 1),
 (503, 3),
 (504, 2),
 (505, 2),
 (506, 4),
 (507, 2),
 (508, 1),
 (509, 2),
 (510, 2),
 (511, 2),
 (514, 1),
 (515, 2),
 (516, 2),
 (518, 1),
 (522, 1),
 (523, 2),
 (524, 1),
 (525, 1),
 (526, 2),
 (528, 5),
 (529, 1),
 (531, 2),
 (532, 1),
 (533, 3),
 (534, 1),
 (535, 3),
 (536, 1),
 (537, 1),
 (538, 2),
 (539, 2),
 (542, 2),
 (543, 2),
 (544, 1),
 (545, 2),
 (546, 2),
 (547, 2),
 (548, 2),
 (549, 1),
 (551, 3),
 (552, 1),
 (553, 1),
 (554, 2),
 (556, 2),
 (557, 2),
 (560, 1),
 (562, 1),
 (563, 2),
 (564, 1),
 (565, 1),
 (566, 2),
 (569, 4),
 (571, 2),
 (572, 1),
 (573, 1),
 (574, 1),
 (575, 5),
 (576, 1),
 (577, 1),
 (578, 1),
 (580, 1),
 (582, 1),
 (584, 2),
 (586, 1),
 (587, 2),
 (588, 1),
 (589, 3),
 (590, 1),
 (593, 1),
 (594, 2),
 (595, 1),
 (596, 4),
 (597, 2)]

In [8]:
%%sql
select customer_id, count(customer_id) as num_rentals_june
from rentals_june
group by customer_id;

 * mysql+pymysql://root:***@localhost/bank
590 rows affected.

[(1, 7),
 (2, 1),
 (3, 4),
 (4, 6),
 (5, 5),
 (6, 4),
 (7, 5),
 (8, 3),
 (9, 2),
 (10, 5),
 (11, 3),
 (12, 6),
 (13, 4),
 (14, 1),
 (15, 3),
 (16, 4),
 (17, 3),
 (18, 4),
 (19, 3),
 (20, 4),
 (21, 5),
 (22, 1),
 (23, 5),
 (24, 5),
 (25, 6),
 (26, 7),
 (27, 8),
 (28, 5),
 (29, 7),
 (30, 4),
 (31, 11),
 (32, 4),
 (33, 2),
 (34, 3),
 (35, 6),
 (36, 1),
 (37, 3),
 (38, 5),
 (39, 6),
 (40, 4),
 (41, 2),
 (42, 4),
 (43, 1),
 (44, 4),
 (45, 5),
 (46, 6),
 (47, 3),
 (48, 2),
 (49, 4),
 (50, 4),
 (51, 2),
 (52, 4),
 (53, 5),
 (54, 4),
 (55, 5),
 (56, 4),
 (57, 5),
 (58, 3),
 (59, 3),
 (60, 2),
 (62, 7),
 (63, 1),
 (64, 2),
 (65, 2),
 (66, 7),
 (67, 4),
 (68, 5),
 (69, 2),
 (70, 1),
 (71, 3),
 (72, 1),
 (73, 2),
 (74, 4),
 (75, 5),
 (76, 6),
 (77, 5),
 (78, 3),
 (79, 2),
 (80, 3),
 (81, 3),
 (82, 5),
 (83, 4),
 (84, 6),
 (85, 6),
 (86, 7),
 (87, 5),
 (88, 3),
 (89, 5),
 (90, 3),
 (91, 4),
 (92, 3),
 (93, 2),
 (94, 5),
 (95, 4),
 (96, 7),
 (97, 3),
 (98, 6),
 (99, 2),
 (100, 4),
 (102, 2),
 (103, 4),
 (104, 4),
 (105, 3),
 (106, 2),
 (107, 7),
 (108, 5),
 (109, 5),
 (110, 1),
 (111, 6),
 (112, 4),
 (113, 6),
 (114, 4),
 (115, 3),
 (116, 6),
 (117, 2),
 (118, 3),
 (119, 3),
 (120, 6),
 (121, 2),
 (122, 7),
 (123, 5),
 (124, 1),
 (125, 4),
 (126, 1),
 (127, 3),
 (128, 2),
 (129, 6),
 (130, 6),
 (131, 2),
 (132, 6),
 (133, 4),
 (134, 4),
 (135, 3),
 (136, 1),
 (137, 4),
 (138, 3),
 (139, 3),
 (140, 4),
 (141, 3),
 (142, 2),
 (143, 5),
 (144, 6),
 (145, 2),
 (146, 7),
 (147, 4),
 (148, 5),
 (149, 7),
 (150, 2),
 (151, 5),
 (152, 1),
 (153, 4),
 (154, 3),
 (155, 5),
 (156, 4),
 (157, 1),
 (158, 4),
 (159, 2),
 (160, 3),
 (161, 2),
 (162, 5),
 (163, 6),
 (164, 3),
 (165, 2),
 (166, 4),
 (167, 3),
 (168, 1),
 (169, 2),
 (170, 2),
 (171, 7),
 (172, 3),
 (173, 5),
 (174, 4),
 (175, 2),
 (176, 8),
 (177, 5),
 (178, 8),
 (179, 2),
 (180, 2),
 (181, 4),
 (182, 4),
 (183, 4),
 (184, 2),
 (185, 3),
 (186, 6),
 (187, 7),
 (188, 4),
 (189, 5),
 (190, 5),
 (191, 5),
 (192, 1),
 (193, 6),
 (194, 5),
 (196, 8),
 (197, 8),
 (198, 1),
 (199, 3),
 (200, 7),
 (201, 5),
 (202, 4),
 (203, 4),
 (204, 6),
 (205, 4),
 (206, 3),
 (207, 1),
 (208, 5),
 (209, 4),
 (210, 2),
 (211, 2),
 (212, 4),
 (213, 9),
 (214, 3),
 (215, 6),
 (216, 5),
 (217, 3),
 (218, 3),
 (219, 2),
 (220, 1),
 (221, 5),
 (222, 2),
 (223, 2),
 (224, 3),
 (225, 1),
 (226, 2),
 (227, 4),
 (228, 4),
 (229, 4),
 (230, 6),
 (231, 1),
 (232, 2),
 (233, 4),
 (234, 8),
 (235, 2),
 (236, 8),
 (237, 5),
 (238, 3),
 (239, 4),
 (240, 3),
 (241, 5),
 (242, 6),
 (243, 3),
 (244, 3),
 (245, 3),
 (246, 5),
 (247, 1),
 (248, 2),
 (249, 5),
 (250, 1),
 (251, 3),
 (252, 3),
 (253, 6),
 (254, 5),
 (255, 4),
 (256, 7),
 (257, 2),
 (258, 3),
 (259, 4),
 (260, 8),
 (261, 6),
 (262, 4),
 (263, 2),
 (264, 3),
 (265, 3),
 (266, 4),
 (267, 9),
 (268, 8),
 (269, 3),
 (270, 4),
 (271, 1),
 (272, 3),
 (273, 5),
 (274, 2),
 (275, 4),
 (276, 3),
 (277, 7),
 (278, 4),
 (279, 5),
 (280, 3),
 (281, 2),
 (282, 4),
 (283, 5),
 (284, 2),
 (285, 2),
 (286, 2),
 (287, 4),
 (288, 1),
 (289, 6),
 (290, 5),
 (291, 3),
 (292, 4),
 (293, 7),
 (294, 2),
 (295, 9),
 (296, 3),
 (297, 5),
 (298, 4),
 (299, 7),
 (300, 2),
 (301, 3),
 (302, 1),
 (303, 4),
 (304, 4),
 (305, 4),
 (306, 1),
 (307, 6),
 (308, 5),
 (309, 4),
 (310, 5),
 (311, 3),
 (312, 2),
 (313, 3),
 (314, 2),
 (315, 1),
 (316, 7),
 (317, 3),
 (318, 4),
 (319, 6),
 (320, 5),
 (321, 2),
 (322, 7),
 (323, 2),
 (324, 2),
 (325, 3),
 (326, 4),
 (327, 6),
 (328, 5),
 (329, 9),
 (330, 5),
 (331, 3),
 (333, 4),
 (334, 3),
 (335, 1),
 (336, 8),
 (337, 2),
 (338, 7),
 (339, 5),
 (340, 8),
 (341, 7),
 (342, 3),
 (343, 7),
 (344, 3),
 (345, 4),
 (346, 3),
 (347, 5),
 (348, 3),
 (349, 4),
 (350, 4),
 (351, 3),
 (352, 5),
 (353, 3),
 (354, 4),
 (355, 2),
 (356, 3),
 (357, 4),
 (358, 6),
 (359, 4),
 (360, 4),
 (361, 4),
 (362, 5),
 (363, 5),
 (364, 5),
 (365, 5),
 (366, 2),
 (367, 1),
 (368, 6),
 (369, 1),
 (370, 1),
 (371, 7),
 (372, 3),
 (373, 2),
 (374, 4),
 (375, 3),
 (376, 2),
 (377, 5),
 (378, 4),
 (379, 3),
 (380, 8),
 (381, 5),
 (382, 5),
 (383, 6),
 (384, 7),
 (385, 3),
 (386, 5),
 (387, 6),
 (388, 5),
 (389, 3),
 (390, 5),
 (391, 5),
 (392, 4),
 (393, 5),
 (394, 1),
 (395, 6),
 (396, 3),
 (397, 2),
 (398, 3),
 (399, 2),
 (400, 3),
 (402, 3),
 (403, 6),
 (404, 4),
 (405, 6),
 (406, 7),
 (407, 2),
 (408, 3),
 (409, 2),
 (410, 6),
 (411, 3),
 (412, 1),
 (413, 2),
 (414, 3),
 (415, 2),
 (416, 4),
 (417, 1),
 (418, 3),
 (419, 1),
 (420, 3),
 (421, 3),
 (422, 4),
 (423, 5),
 (424, 3),
 (425, 1),
 (426, 5),
 (427, 5),
 (428, 5),
 (429, 4),
 (430, 6),
 (431, 7),
 (432, 3),
 (434, 7),
 (435, 2),
 (436, 1),
 (437, 3),
 (438, 6),
 (439, 6),
 (441, 2),
 (442, 4),
 (443, 1),
 (444, 6),
 (446, 6),
 (447, 4),
 (448, 5),
 (449, 3),
 (450, 7),
 (451, 7),
 (452, 7),
 (453, 3),
 (454, 10),
 (455, 4),
 (456, 7),
 (457, 9),
 (458, 2),
 (459, 7),
 (460, 1),
 (461, 2),
 (462, 3),
 (463, 4),
 (464, 2),
 (465, 4),
 (466, 5),
 (467, 4),
 (468, 6),
 (469, 2),
 (470, 3),
 (471, 5),
 (472, 6),
 (473, 4),
 (474, 2),
 (476, 4),
 (477, 4),
 (478, 6),
 (479, 6),
 (480, 2),
 (481, 3),
 (482, 2),
 (483, 3),
 (484, 4),
 (485, 2),
 (486, 4),
 (487, 1),
 (488, 2),
 (489, 4),
 (490, 1),
 (491, 7),
 (492, 4),
 (493, 4),
 (494, 1),
 (495, 4),
 (496, 1),
 (497, 4),
 (498, 6),
 (499, 4),
 (500, 5),
 (501, 2),
 (502, 3),
 (503, 3),
 (504, 2),
 (505, 4),
 (506, 5),
 (507, 3),
 (508, 1),
 (509, 2),
 (510, 8),
 (511, 4),
 (512, 3),
 (513, 3),
 (514, 6),
 (515, 6),
 (516, 5),
 (517, 5),
 (518, 2),
 (519, 3),
 (520, 3),
 (521, 2),
 (522, 4),
 (523, 4),
 (524, 3),
 (525, 1),
 (526, 9),
 (527, 4),
 (528, 2),
 (529, 3),
 (530, 3),
 (531, 1),
 (532, 2),
 (533, 6),
 (534, 5),
 (535, 2),
 (536, 3),
 (537, 4),
 (538, 4),
 (539, 3),
 (540, 5),
 (541, 2),
 (542, 2),
 (543, 5),
 (544, 4),
 (545, 1),
 (546, 4),
 (547, 1),
 (548, 3),
 (549, 1),
 (550, 6),
 (551, 2),
 (552, 2),
 (553, 3),
 (554, 4),
 (555, 1),
 (556, 5),
 (557, 3),
 (558, 5),
 (559, 4),
 (560, 2),
 (561, 9),
 (562, 4),
 (563, 2),
 (564, 1),
 (565, 3),
 (566, 4),
 (567, 2),
 (568, 5),
 (569, 2),
 (570, 7),
 (571, 6),
 (572, 3),
 (573, 4),
 (574, 5),
 (575, 3),
 (576, 7),
 (577, 3),
 (578, 3),
 (579, 3),
 (580, 1),
 (581, 3),
 (582, 3),
 (583, 6),
 (584, 2),
 (585, 4),
 (586, 2),
 (587, 4),
 (588, 5),
 (589, 5),
 (590, 5),
 (591, 3),
 (592, 4),
 (593, 4),
 (594, 6),
 (595, 1),
 (596, 2),
 (597, 3),
 (598, 1),
 (599, 4)]

In [11]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass # To get the password without showing the input
password = getpass.getpass()
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)

 ·········

In [10]:
# May rentals 
query = '''select customer_id, count(customer_id) as num_rentals_may
from rentals_may
group by customer_id;'''
df1 = pd.read_sql_query(query, engine)
df1.head()

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'sakila.rentals_may' doesn't exist")
[SQL: select customer_id, count(customer_id) as num_rentals_may
from rentals_may
group by customer_id;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [12]:
# June rental 
query = '''select customer_id, count(customer_id) as num_rentals_june
from rentals_june
group by customer_id;'''
df2 = pd.read_sql_query(query, engine)
df2.head()

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'sakila.rentals_june' doesn't exist")
[SQL: select customer_id, count(customer_id) as num_rentals_june
from rentals_june
group by customer_id;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [13]:
df = df1.merge(df2, on='customer_id', how = 'inner')
df['diff'] = df['num_rentals_june'] - df['num_rentals_may']
df[df['diff']>0].shape

NameError: name 'df1' is not defined